<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://salesorder-ayoub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cdd39586-95df-4218-a8a5-cfe8eda16de8/resourceGroups/rg-ayoubtraining-dev-001/providers/Microsoft.Web/sites/salesorder-ayoub</ResourceId>
    <UserName>$salesorder-ayoub</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://salesorder-ayoub.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>